In [22]:
import pandas as pd
import numpy as np

In [23]:
hs1=pd.read_excel('/content/house_price_dataset_original_v2_with_categorical_features.xlsx')

In [24]:
hs=pd.read_excel('/content/jiffs_house_price_my_dataset_v1.xlsx')

In [25]:
hs1.columns

Index(['land_size_sqm', 'house_size_sqm', 'no_of_rooms', 'no_of_bathrooms',
       'large_living_room', 'parking_space', 'front_garden', 'swimming_pool',
       'distance_to_school', 'wall_fence', 'house_age', 'water_front',
       'distance_to_supermarket', 'crime_rate_index', 'room_size',
       'property_value'],
      dtype='object')

In [26]:
hs.columns

Index(['land_size_sqm', 'house_size_sqm', 'no_of_rooms', 'no_of_bathrooms',
       'large_living_room', 'parking_space', 'front_garden', 'swimming_pool',
       'distance_to_school_km', 'wall_fence', 'house_age_or_renovated',
       'water_front', 'distance_to_supermarket_km', 'property_value'],
      dtype='object')

In [27]:
hs.shape

(4954, 14)

In [28]:
hs.head()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km,property_value
0,201,177.0,3,1,0.0,1,1,0,3.3,1,10,0,6.8,167611
1,196,182.0,4,3,1.0,1,0,1,1.2,1,11,0,4.1,186945
2,198,182.0,4,4,1.0,1,0,1,5.9,0,20,0,2.1,154628
3,178,166.0,2,3,0.0,1,0,0,5.9,0,5,0,0.7,133099
4,183,165.0,3,1,1.0,1,0,0,3.8,1,8,0,0.7,158481

In [29]:
hs.describe()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km,property_value
count,4954.000000,4953.000000,4954.000000,4954.000000,4952.000000,4954.000000,4954.000000,4954.000000,4942.000000,4954.000000,4954.000000,4954.000000,4916.000000,4.954000e+03
mean,250.131409,231.199273,3.788252,3.199839,0.723950,0.763827,0.627574,0.617683,3.455221,0.630400,11.444691,0.048648,3.546176,2.114163e+05
std,103.131939,94.511325,1.585371,1.602300,0.447087,0.424772,0.483500,0.486003,2.008030,0.482745,6.356991,0.215152,2.485622,9.307355e+04
min,100.000000,85.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.100000,0.000000,1.000000,0.000000,0.100000,2.988000e+03
25%,180.000000,165.000000,3.000000,2.000000,0.000000,1.000000,0.000000,0.000000,1.700000,0.000000,6.000000,0.000000,1.800000,1.482755e+05
50%,235.000000,217.000000,4.000000,3.000000,1.000000,1.000000,1.000000,1.000000,3.400000,1.000000,11.000000,0.000000,3.500000,2.048895e+05
75%,295.000000,274.000000,5.000000,4.000000,1.000000,1.000000,1.000000,1.000000,5.200000,1.000000,17.000000,0.000000,5.300000,2.532832e+05
max,796.000000,760.000000,8.000000,9.000000,1.000000,1.000000,1.000000,1.000000,6.900000,1.000000,22.000000,1.000000,70.000000,2.405195e+06

In [30]:
hs.isnull().sum()

land_size_sqm                  0
house_size_sqm                 1
no_of_rooms                    0
no_of_bathrooms                0
large_living_room              2
parking_space                  0
front_garden                   0
swimming_pool                  0
distance_to_school_km         12
wall_fence                     0
house_age_or_renovated         0
water_front                    0
distance_to_supermarket_km    38
property_value                 0
dtype: int64

In [31]:
hs.dtypes

land_size_sqm                   int64
house_size_sqm                float64
no_of_rooms                     int64
no_of_bathrooms                 int64
large_living_room             float64
parking_space                   int64
front_garden                    int64
swimming_pool                   int64
distance_to_school_km         float64
wall_fence                      int64
house_age_or_renovated          int64
water_front                     int64
distance_to_supermarket_km    float64
property_value                  int64
dtype: object

In [32]:
hs['house_size_sqm'] = hs['house_size_sqm'].fillna(hs['house_size_sqm'].mean())
hs['large_living_room'] = hs['large_living_room'].fillna(hs['large_living_room'].mean())
hs['distance_to_school_km'] = hs['distance_to_school_km'].fillna(hs['distance_to_school_km'].mean())
hs['distance_to_supermarket_km'] = hs['distance_to_supermarket_km'].fillna(hs['distance_to_supermarket_km'].mean())

In [33]:
hs.isnull().sum()

land_size_sqm                 0
house_size_sqm                0
no_of_rooms                   0
no_of_bathrooms               0
large_living_room             0
parking_space                 0
front_garden                  0
swimming_pool                 0
distance_to_school_km         0
wall_fence                    0
house_age_or_renovated        0
water_front                   0
distance_to_supermarket_km    0
property_value                0
dtype: int64

In [34]:
hs.corr()

,land_size_sqm,house_size_sqm,no_of_rooms,no_of_bathrooms,large_living_room,parking_space,front_garden,swimming_pool,distance_to_school_km,wall_fence,house_age_or_renovated,water_front,distance_to_supermarket_km,property_value
land_size_sqm,1.000000,0.990610,0.898252,0.679780,0.371660,0.411108,0.501055,0.497159,-0.011382,0.443698,0.006547,0.018665,0.012668,0.911663
house_size_sqm,0.990610,1.000000,0.894307,0.676927,0.372491,0.384596,0.500863,0.500046,-0.011892,0.445176,0.007468,0.019115,0.009510,0.902775
no_of_rooms,0.898252,0.894307,1.000000,0.710043,0.452497,0.493262,0.603783,0.606602,-0.006382,0.547999,0.003455,0.026654,0.002824,0.857235
no_of_bathrooms,0.679780,0.676927,0.710043,1.000000,0.310367,0.330699,0.419505,0.431550,-0.009114,0.365661,0.000966,0.021575,-0.010288,0.647447
large_living_room,0.371660,0.372491,0.452497,0.310367,1.000000,0.264024,0.328798,0.310816,0.003811,0.269562,0.003406,0.043095,0.017655,0.379382
parking_space,0.411108,0.384596,0.493262,0.330699,0.264024,1.000000,0.368903,0.371334,0.024728,0.314644,-0.001848,0.017491,-0.003859,0.430577
front_garden,0.501055,0.500863,0.603783,0.419505,0.328798,0.368903,1.000000,0.327034,-0.008389,0.362512,0.005548,0.028637,0.001128,0.509666
swimming_pool,0.497159,0.500046,0.606602,0.431550,0.310816,0.371334,0.327034,1.000000,0.004039,0.361410,0.004264,-0.005525,-0.012685,0.536309
distance_to_school_km,-0.011382,-0.011892,-0.006382,-0.009114,0.003811,0.024728,-0.008389,0.004039,1.000000,-0.021629,0.011264,-0.013781,0.007512,-0.075454
wall_fence,0.443698,0.445176,0.547999,0.365661,0.269562,0.314644,0.362512,0.361410,-0.021629,1.000000,0.011068,0.023470,0.014029,0.500292
house_age_or_renovated,0.006547,0.007468,0.003455,0.000966,0.003406,-0.001848,0.005548,0.004264,0.011264,0.011068,1.000000,0.002780,0.013984,-0.042675
water_front,0.018665,0.019115,0.026654,0.021575,0.043095,0.017491,0.028637,-0.005525,-0.013781,0.023470,0.002780,1.000000,0.005479,0.094081
distance_to_supermarket_km,0.012668,0.009510,0.002824,-0.010288,0.017655,-0.003859,0.001128,-0.012685,0.007512,0.014029,0.013984,0.005479,1.000000,-0.008084
property_value,0.911663,0.902775,0.857235,0.647447,0.379382,0.430577,0.509666,0.536309,-0.075454,0.500292,-0.042675,0.094081,-0.008084,1.000000

In [35]:
import pandas as pd
import numpy as np

# Function to calculate entropy
def entropy(target_col):
    elements, counts = np.unique(target_col, return_counts = True)
    entropy = np.sum([(-counts[i]/np.sum(counts)) * np.log2(counts[i]/np.sum(counts)) for i in range(len(elements))])
    return entropy

In [36]:
# Function to calculate information gain
def information_gain(data, feature, target):
    # Calculate parent entropy
    parent_entropy = entropy(data[target])
    
    # Calculate the weighted entropy of each child
    vals, counts = np.unique(data[feature], return_counts=True)
    weighted_entropy = np.sum([(counts[i]/np.sum(counts)) * entropy(data.where(data[feature] == vals[i]).dropna()[target]) for i in range(len(vals))])
    
    # Calculate information gain
    information_gain = parent_entropy - weighted_entropy
    return information_gain

In [37]:
# Function to build decision tree
def build_tree(data, target, features, max_depth):
    # Select the best feature to split the data
    info_gains = [information_gain(data, feature, target) for feature in features]
    best_feature_index = np.argmax(info_gains)
    best_feature = features[best_feature_index]
    
    # Create a node for the decision tree
    tree = {}
    tree['feature'] = best_feature
    
    # Remove the best feature from the list of features
    features = [f for f in features if f != best_feature]
    
    # Recursively build the decision tree
    for value in np.unique(data[best_feature]):
        sub_data = data.where(data[best_feature] == value).dropna()
        sub_tree = {}
        
        # Check for stopping criteria
        if len(sub_data[target].unique()) == 1:
            sub_tree['value'] = sub_data[target].unique()[0]
        elif len(features) == 0 or max_depth == 1:
            sub_tree['value'] = sub_data[target].mode()[0]
        else:
            sub_tree = build_tree(sub_data, target, features, max_depth-1)
        
        tree[value] = sub_tree
        
    return tree

In [38]:
# Function to predict using decision tree
def predict(tree, sample):
    if isinstance(tree, int):
        return tree
    for key in tree.keys():
        if key == 'value':
            return tree['value']
        else:
            value = sample[tree['feature']]
            if str(value) in tree[str(key)]:
                subtree = tree[str(key)][str(value)]
                return predict(subtree, sample)

In [39]:
def predict(tree, sample):
    if isinstance(tree, int):
        return tree
    for key in tree.keys():
        if key == 'value':
            return tree['value']
        else:
            value = sample[tree['feature']]
            if str(value) in tree[key]:
                subtree = tree[key][value]
                return predict(subtree, sample)

In [40]:
# Function to build a random forest regressor
def random_forest_regressor(data, target, num_trees, max_depth):
    trees = []
    for i in range(num_trees):
        # Create a bootstrap sample of the data
        bootstrap_sample = data.sample(frac=1, replace=True)
        
        # Select a random subset of features
        features = bootstrap_sample.columns.tolist()
        features.remove(target)
        num_features = len(features)
        num_features_selected = int(np.sqrt(num_features))
        feature_indices = np.random.choice(num_features, size=num_features_selected, replace=False)
        selected_features = [features[index] for index in feature_indices]
        
        # Build a decision tree using the bootstrap sample and selected features
        tree = build_tree(bootstrap_sample, target, selected_features, max_depth)
        
        # Add the decision tree to the list of trees
        trees.append(tree)
    
    # Return the list of trees
    return trees

In [41]:
def predict_rf(trees, sample):
    predictions = []
    for tree in trees:
        if isinstance(tree, dict):
            prediction = predict(tree, sample)
            if prediction is not None:
                predictions.append(prediction)
    return np.mean(predictions)

In [ ]:
target = 'property_value'
max_depth = 5
num_trees = 10
trees = random_forest_regressor(hs, target, num_trees, max_depth)
sample = hs.iloc[0]
prediction = predict_rf(sample, trees)
print('Prediction:', prediction)
samples = hs.drop(columns=target)
labels = hs[target]
predictions = [predict_rf(trees, sample) for _, sample in samples.iterrows()]
print(predictions)
mse = np.mean((predictions - labels) ** 2)
print('Mean squared error:', mse)